body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: hsla(9, 9%, 84%, 0.637);
    
}
h1{
    color: rgb(3, 56, 56);
}
form{
    background: hsla(10, 20%, 94%, 0.753);
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow:3px 5px 5px #333;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid #333;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5rem;
    font-weight: 600px;
}

button{
    margin-top: 20px;
    background: hsla(11, 69%, 53%, 0.651);
    font-size: 1.5em;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover{
    background: hsla(11, 80%, 73%, 0.842);
}
p{
    font-size:1.75em;
    font-weight: 600;
}

